In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Used_Bikes.csv')
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [3]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [4]:
df.duplicated().sum()

np.int64(25324)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [8]:
df['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [9]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [10]:
df['owner'].map(dt)

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

In [11]:
df['owner']=df['owner'].map(dt)

In [12]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [13]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [14]:
df['brand'].nunique()

23

In [15]:
brands=["TVS","Yamaha","Bajaj","Hero","Royal Enfield","Honda","Suzuki","TVS","KTM","Harley Davidson","Kawasaki","Mahindra","Hyosung","Benelli","Triumph","Ducati","BMW"]
df[df['brand'].isin(brands)]

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9361,Bajaj Avenger 220cc,50000.0,Bangalore,29134.0,1,7.0,220.0,Bajaj
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [16]:
brand_ls = list(df['brand'].value_counts().head(16).keys())
brand_ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [17]:
df2 = df[df['brand'].isin(brand_ls)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [18]:
df2['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Name: count, dtype: int64

In [19]:
#dt2 = {"Bajaj":1,"Royal Enfield":2,"Hero":3,"Honda":4,"Yamaha":5,"TVS":6,"KTM ":7,"Suzuki  ":8,"Harley-Davidson ":9,"Kawasaki  ":10,"Hyosung   ":11,"Mahindra ":12,"Benelli":13,"Triumph  ":14,"Ducati ":15,"BMW ":16}
#dt2

In [20]:
brand_dict = {brand:i for i, brand in enumerate(list(df2['brand'].value_counts().head(16).keys()),start = 1)}
print(brand_dict)
df2['brand']=df2['brand'].map(brand_dict)

{'Bajaj': 1, 'Royal Enfield': 2, 'Hero': 3, 'Honda': 4, 'Yamaha': 5, 'TVS': 6, 'KTM': 7, 'Suzuki': 8, 'Harley-Davidson': 9, 'Kawasaki': 10, 'Hyosung': 11, 'Mahindra': 12, 'Benelli': 13, 'Triumph': 14, 'Ducati': 15, 'BMW': 16}

C:\Users\kulde\AppData\Local\Temp\ipykernel_17232\896688871.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand']=df2['brand'].map(brand_dict)

In [21]:
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5

In [22]:
df2.drop(['bike_name','city'],axis=1,inplace=True)

C:\Users\kulde\AppData\Local\Temp\ipykernel_17232\1642961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis=1,inplace=True)

In [23]:
df2

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0      1  3.0  110.0      6
1     119900.0     11000.0      1  4.0  350.0      2
2     600000.0       110.0      1  8.0  675.0     14
3      65000.0     16329.0      1  4.0  180.0      6
4      80000.0     10000.0      1  3.0  150.0      5
...        ...         ...    ...  ...    ...    ...
9362   25000.0     48587.0      1  8.0  150.0      3
9369   35000.0     60000.0      1  9.0  220.0      1
9370  450000.0      3430.0      1  4.0  750.0      9
9371  139000.0     21300.0      1  4.0  400.0      1
9372   80000.0      7127.0      1  5.0  220.0      1

[7307 rows x 6 columns]

In [24]:
x = df2.drop('price',axis=1)
y = df2[['price']]

In [25]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [26]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [27]:
# Train Test Split model
from sklearn.model_selection import train_test_split
#scikit-learn

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)  # 80% training size

In [29]:
from sklearn.linear_model import LinearRegression  # Algorithm import

In [30]:
lnr = LinearRegression()

In [31]:
lnr.fit(x_train,y_train)

LinearRegression()

In [32]:
x_train.shape

(5845, 5)

In [33]:
x_test

      kms_driven  owner   age  power  brand
5109      5500.0      1   2.0  160.0      4
7723     20775.0      1   5.0  220.0      1
9140     78394.0      1  10.0  100.0      3
5313     28808.0      1   7.0  100.0      1
6052     33232.0      1   7.0  125.0      3
...          ...    ...   ...    ...    ...
9183     90408.0      3  18.0  350.0      2
5405     22365.0      1  10.0  100.0      3
7849     12600.0      1   7.0  180.0      6
5022     25000.0      1   6.0  150.0      8
917      20000.0      1  10.0  150.0      5

[1462 rows x 5 columns]

In [34]:
x_train.isnull().sum()

kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [35]:
y_test

        price
5109  91000.0
7723  70000.0
9140  20000.0
5313  21000.0
6052  29999.0
...       ...
9183  35800.0
5405  27500.0
7849  70000.0
5022  38000.0
917   27800.0

[1462 rows x 1 columns]

In [36]:
# Seen data
lnr.score(x_train,y_train)* 100   # 74% Scored   , Training Score

72.9796018556596

In [37]:
# Unseen Data
lnr.score(x_test,y_test)* 100  # Test data

77.90736600857893

In [38]:
# prediction


prediction = lnr.predict(x_test)

In [39]:
y_test['prediction'] = prediction

In [40]:
y_test.head(50)

         price     prediction
5109   91000.0   70092.848829
7723   70000.0   55875.140772
9140   20000.0   -2428.524277
5313   21000.0  -14273.710844
6052   29999.0   22995.509268
6021   21000.0   28743.664462
5032   42000.0   21439.609611
8178  133500.0  126414.468596
5251   84000.0   22963.119420
8479   12000.0   -8118.264215
7243   70000.0  131277.118825
7269   45000.0   42099.541423
4838   65000.0   61062.114799
3925   38000.0   13663.758234
1177  130000.0  143201.350681
1308  145000.0   74328.738914
8820   60000.0   19066.626672
4153   21000.0  -11693.934794
5104   58000.0   61054.670244
65     94700.0  120030.718741
500   371100.0  429745.465305
6210   44000.0   60727.437077
7299   26000.0   40473.356430
862   150000.0  216512.432024
2254   70000.0   46249.382208
8360   24000.0   23647.271245
5563   55000.0   46281.018303
9200   55000.0   46331.190500
761   100000.0  195206.020047
4871  901000.0  582994.076553
3455   40000.0   47884.857389
8519   45000.0   18201.913028
5795   18000.0   15998.322783
8372   80000.0   61921.110199
1543  110000.0  124223.842347
6157   15900.0   74910.439390
7708  105000.0  131277.118825
262   237818.0  229341.463586
5522  100000.0   70352.835580
7972   72000.0   27788.829583
2186   75000.0  213316.300061
7770  110000.0  133364.421202
9307   30000.0   69954.201482
3993   48500.0   49658.601057
7733  350000.0  494106.945551
5421   82000.0   64270.927047
4214   43000.0   21651.695540
544   150000.0  217822.919050
6595   58000.0  103222.315068
698    21100.0  -15312.785870

In [41]:
import os , joblib

In [42]:
os.makedirs('models',exist_ok=True)  #models

In [43]:
lnr

LinearRegression()

In [44]:
joblib.dump(lnr,"./models/linear_model.lb")

['./models/linear_model.lb']